header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background: #fff;
    align-items: center;
}

nav {
    background-position: center;
    padding: 1%;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 900px) {
    nav {
        position: static;
        transform: translateY(0);
    }

    header {
        justify-content: space-between;
    }
}

nav a {
    float: left;
    display: block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: helvetica;
    letter-spacing: 2px;
}

nav li,
nav ul {
    list-style: none;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav .material-icons {
    display: none;
    font-size: 36px;
    color: blue;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {
        display: none;
    }

    nav .material-icons {
        float: left;
        display: block;
    }
}